*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'PT Sans', sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
    /* background-color: lightslategray; */
    background-image: url(../img/bg-site.png);
}
.top-header__bastion{
    position: relative;
    /* background-color: rgba(111, 112, 111, 0.384); */
    background-image: linear-gradient(to top, rgba(110, 110, 110, 0.356), rgba(122, 121, 121, 0.61));
    height: 150px;
    width: 100%;
}
.header__btn-menu{
    display: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0 15px;
}
/* CONTACTS */
.contacts__top-header__bastion{
    /* padding-top: 30px; */
    position: relative;
    top: 51px;
    float: right;
    font-family: 'Arimo', sans-serif;
    /* border: solid 0.5px #fff; */
    /* height: 60px; */
    line-height: 0.5;
}
.contacts__top-header__bastion a{
    display: block;
    color: #000000;
    padding-right: 10px;
    font-size: 16px;
}

.contacts__top-header__bastion img{
    width: 19px;
}

.social-netwotk__top-header__bastion{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    float: right;
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px 0px 2px 0px;
    padding-right: 7px;
    border-radius: 7px;
    /* margin-right: 190px; */
    /* padding-left: 40px; */
    top: 30px;
    /* right: 150px; */
}
.social-netwotk__top-header__bastion a{
    padding-left: 10px;
}
.social-netwotk__top-header__bastion img{
    position: relative;
    width: 30px;
}
/* END CONTACTS */
.logo-star{
    width: 240px;
    height: 130 px;
    padding-top: 25px;
}
.menu{
    /* background-image: linear-gradient(to top, #a6cab1, rgb(214, 255, 229)); */
    /* background-color: rgba(104, 110, 86, 0.733); */
    /* background-color: #e4e4e4; */
    /* background-color: #75735c; */
    background-image: linear-gradient(to top, rgba(160, 207, 154, 0.411), rgba(77, 112, 72, 0.897));
    border: 0.1px solid red; 
}
.menu>img{
    height: 400px;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
}
.menu li{
    list-style-type: none;
    position: relative;
}
.menu__list{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 50;
    /* background-color: rgb(63, 192, 31); */
}
.menu__list>li{
    margin-right: 35px;
}
.menu__list>li:hover .sub-mebu__list{ 
    display: block;
}
.menu__list li a {
   font-size: 20px;
}
.menu__link{
    color: rgb(0, 0, 0);
}
.sub-mebu__list{
    width: 100%;
    padding-left: 0;
    display: none;
    position: absolute;
    top: 10px;
    z-index: 1;
    
}
.sub-mebu__list>li{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.103);
    text-align: center;
    padding-top: 20px;
}
.sub-mebu__list ul{
    padding: 0;
}
/* Смена цвета при наведении на блок */
.menu__list :hover {
    color: rgb(227, 255, 102);
    transition: 0.3s;
}

/* SLIDER */
.slider{
   position: relative;
   top: 20px;
}
.slider img{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border: 4px solid rgba(240, 35, 46, 0.185);
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-list{
    overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 5px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 5px;
    height: 10px;
    background-color: red;
    border: none;
}
.slider .slick-dots li.slick-active button{
    background-color: yellow;
}
/* .slider .slick-arrow.slick-prev{
left: 0;
}
.slider .slick-arrow.slick-next{
    right: 0;
} */

/* END SLIDER */
/* General__Content */
/* General__container FLEX pic`s */
.general__content__container__section__section-with-borders{
    /* border: 0.5px dotted red; */
    border-top: rgb(0, 0, 0) solid 1px;
    width:300px;
    height: 400px;
    margin-left: 5px;
}
.general__content__container{
    display: flex;
    margin-top: 10px;
    justify-content:center;
    align-items:center;
    /* margin-left: -30px; */
    flex-direction: row;
    /* position: absolute;
    flex-wrap: wrap; */
    
    
}
.general__content__container__section{
    position: relative;
}
.general__content__container__section img{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    height: 370px;
    border: 1px dotted red;
     /* border-top: rgb(0, 0, 0) solid 1px; */
} 
.general__content__container__section img:hover{
    opacity: 0.60;
}
.general__content__h1{
    text-align: center;
    margin-top: 60px;
    color: ivory;
}
/* END General__container FLEX pic`s */
.hovered__link{
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    color: whitesmoke;
    border: 1px dotted red;
    background-color: rgba(103, 184, 109, 0.253);
    /* background-image: linear-gradient(to top, rgba(71, 71, 71, 0.356), rgba(175, 175, 175, 0.61)); */
}
.hovered__link:after {
    background-color: #ff6000;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.hovered__link:hover:after,
.hovered__link:focus:after {
    width: 100%;
}




/* MEDIA */
@media screen and (max-width: 712px){
    /* .menu__list{
        display: inline-block;
    } */
}
@media (max-width: 840px){
    .header__btn-menu{
        display: block;
        font-size: 30px;
        float: right;
        padding-right: 10px;
        padding-top: 10px;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 50;
    }
    .sub-menu__link{
        display: none;
    }
    .sub-mebu__list>li {
        /* width: 100px; */
        background-color: rgba(255, 255, 255, 0);
        /* padding-top: 20px; */
    }
    /* .menu__list{
        width: 500px;
    } */
    .menu__list>li{
        text-align: center;
        border-bottom: 1px dotted red;
        border-top: 0.1px dotted red;
    } 
    .menu__list{
        background-color: rgba(85, 76, 76, 0.432);
    }
    .menu__list{
        margin-top: 40px;
        /* height: 100%; */
    }
    .sub-mebu__list{
        display: none;
        width: 0;
        height: 0;
    }
    .menu__link{
        color: white;
    }
    .slider{
        width: 95%;
        margin: 0 auto;
        margin-top: 40px;
        padding-left: 20px;
    }
    .slick-dots{
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 873px){
    .general__content__container{
        display: flex;
        margin-top: 10px;
        justify-content:center;
        align-items:center;
        /* margin-left: -30px; */
        flex-direction: column;
        /* position: absolute; */
        flex-wrap: wrap; 
    }
    .general__content__container__section__section-with-borders{
        /* border: 0.5px dotted red; */
        border-top: rgb(0, 0, 0) solid 1px;
        margin-bottom: 10px;
        width:300px;
        height: 400px;
        margin-left: 5px;
    }
}
@media (max-width: 545px){
    .social-netwotk__top-header__bastion{
        margin-top: 0px;
        margin-right: 4px;
    }
    .contacts__top-header__bastion{
        position: absolute;
        top: 71px;
        right: 0;
        font-family: 'Arimo', sans-serif;
        /* border: solid 0.5px #fff; */
        /* height: 60px; */
        line-height: 0.5;
    }
    .contacts__top-header__bastion a{
        padding: 0;
    }
    .logo-star{
        width: 180px;
        height: 110px;
        padding-top: 30px;
    }
}

@media (max-width: 340px){
    .logo-star{
        padding-top: 40px;
        width: 157px;
        height: 110px;
    }
}






/* @media (min-width: 840px){
    .menu ul{
        display: block !important;
    }
} */